In [1]:
%load_ext bigquery_magics
import pandas as pd

# "Will it snow tomorrow?" - The time traveler asked
The following dataset contains climate information from over 9000 stations accross the world. The overall goal of these subtasks will be to predict whether it will snow tomorrow 20 years ago. So if today is 1 April 2025 then the weather we want to forecast is for the 2 April 2005. You are supposed to solve the tasks using Big Query, which can be used in the Jupyter Notebook like it is shown in the following cell. For further information and how to use BigQuery in Jupyter Notebook refer to the Google Docs. 

The goal of this test is to test your coding knowledge in Python, BigQuery and Pandas as well as your understanding of Data Science. If you get stuck in the first part, you can use the replacement data provided in the second part.

In [2]:
%%bigquery
SELECT
*,
FROM `bigquery-public-data.samples.gsod`
LIMIT 20

Query is running:   0%|          |

Downloading:   0%|          |

,station_number,wban_number,year,month,day,mean_temp,num_mean_temp_samples,mean_dew_point,num_mean_dew_point_samples,mean_sealevel_pressure,...,min_temperature,min_temperature_explicit,total_precipitation,snow_depth,fog,rain,snow,hail,thunder,tornado
0,39800,99999,1929,11,13,41.299999,4,37.000000,4,996.700012,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
1,33110,99999,1929,12,16,45.500000,4,34.500000,4,1037.000000,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
2,37770,99999,1929,12,8,48.000000,4,42.000000,4,994.500000,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
3,38560,99999,1929,11,13,44.500000,4,36.200001,4,997.799988,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
4,33110,99999,1929,12,15,46.700001,4,42.500000,4,1028.099976,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
5,30910,99999,1929,10,6,50.000000,4,NaN,<NA>,983.200012,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
6,33110,99999,1929,10,1,53.299999,4,46.299999,4,1010.000000,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
7,39730,99999,1929,11,4,54.000000,4,48.700001,4,1019.299988,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
8,38110,99999,1929,11,18,43.500000,4,39.500000,4,1016.299988,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
9,39530,99999,1929,10,23,54.000000,4,50.000000,4,1001.099976,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
10,33790,99999,1929,10,21,46.799999,4,42.000000,4,1007.099976,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
11,38940,99999,1929,10,19,50.200001,4,44.000000,4,1008.400024,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
12,34970,99999,1929,8,5,58.799999,5,48.799999,4,1008.900024,...,NaN,<NA>,0.02,NaN,False,False,False,False,False,False
13,38040,99999,1929,11,19,54.000000,5,53.000000,4,996.299988,...,NaN,<NA>,0.47,NaN,False,False,False,False,False,False
14,34970,99999,1929,10,13,53.200001,5,48.500000,4,1027.199951,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
15,38040,99999,1929,12,27,47.200001,5,45.500000,4,1007.500000,...,NaN,<NA>,0.12,NaN,False,False,False,False,False,False
16,32620,99999,1929,12,31,38.200001,5,34.299999,4,1006.500000,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
17,30750,99999,1930,10,6,46.500000,4,45.500000,4,987.299988,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
18,39800,99999,1930,7,27,57.500000,4,54.000000,4,1005.000000,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
19,39730,99999,1930,2,14,43.500000,4,38.299999,4,1016.299988,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False

## Part 1

### 1. Task
Change the date format to 'YYYY-MM-DD' and select the data from 2000 till 2005 for station numbers including and between 725300 and 726300 , and save it as a pandas dataframe. Note the maximum year available is 2010.

In [3]:

%%bigquery df 
-- save as df pandas dataframe

SELECT
    FORMAT_DATE('%Y-%m-%d', DATE(year, month, day)) as date, 
    * EXCEPT(year, month, day) 
    
FROM `bigquery-public-data.samples.gsod` 
WHERE
    year BETWEEN 2000 AND 2005 
    AND station_number BETWEEN 725300 AND 726300

Query is running:   0%|          |

Downloading:   0%|          |

### 2. Task 
From here you want to work with the data from all stations 725300 to 725330 that have information from 2000 till 2005.

In [4]:
%%bigquery
SELECT
    FORMAT_DATE('%Y-%m-%d', DATE(year, month, day)) as date, 
    * EXCEPT(year, month, day) 
    
FROM `bigquery-public-data.samples.gsod`
WHERE
    year BETWEEN 2000 AND 2005 
    AND station_number BETWEEN 725300 AND 725330

Query is running:   0%|          |

Downloading:   0%|          |

,date,station_number,wban_number,mean_temp,num_mean_temp_samples,mean_dew_point,num_mean_dew_point_samples,mean_sealevel_pressure,num_mean_sealevel_pressure_samples,mean_station_pressure,...,min_temperature,min_temperature_explicit,total_precipitation,snow_depth,fog,rain,snow,hail,thunder,tornado
0,2000-03-17,725327,99999,31.000000,21,20.900000,21,1028.300049,21,NaN,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
1,2000-12-06,725326,99999,13.700000,22,2.400000,22,NaN,<NA>,NaN,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
2,2000-05-12,725316,99999,76.800003,23,69.400002,23,NaN,<NA>,NaN,...,NaN,<NA>,NaN,NaN,False,False,False,False,False,False
3,2000-08-26,725317,99999,70.300003,23,66.400002,23,1013.200012,23,NaN,...,NaN,<NA>,0.13,NaN,False,False,False,False,False,False
4,2000-09-15,725305,99999,55.400002,23,41.799999,23,1019.700012,21,NaN,...,NaN,<NA>,0.02,NaN,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21848,2005-04-05,725330,14827,59.900002,24,41.700001,24,1014.799988,24,NaN,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
21849,2005-02-04,725300,94846,35.299999,24,29.500000,24,1026.000000,24,1000.799988,...,NaN,<NA>,0.00,1.2,True,True,True,True,True,True
21850,2005-02-24,725300,94846,31.100000,24,22.799999,24,1021.799988,24,996.200012,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
21851,2005-03-28,725327,99999,42.200001,24,30.100000,24,1007.000000,24,NaN,...,NaN,<NA>,0.00,NaN,False,False,False,False,False,False
21852,2005-03-30,725320,14842,62.799999,24,49.599998,24,1000.299988,24,976.400024,...,NaN,<NA>,0.84,NaN,True,True,True,True,True,True

Start by checking which year received the most snowfall in our data.

In [5]:
%%bigquery
-- We first confirm that in each year the same amount of stations were working
SELECT 
    year,
    COUNT(DISTINCT(station_number)) AS num_working_station --count working stations
FROM 
    `bigquery-public-data.samples.gsod`
WHERE
    year BETWEEN 2000 AND 2005 
    AND station_number BETWEEN 725300 AND 725330  
GROUP BY
    year
ORDER BY
    num_working_station DESC

Query is running:   0%|          |

Downloading:   0%|          |

   year  num_working_station
0  2000                   10
1  2001                   10
2  2004                   10
3  2005                   10
4  2002                   10
5  2003                   10

In [6]:
%%bigquery
-- We count number of stations that have reported snowfall in a year
SELECT 
    year,
    COUNT(station_number) AS snowy_stations --count how many stations reported snowfall
FROM 
    `bigquery-public-data.samples.gsod`
WHERE
    year BETWEEN 2000 AND 2005 
    AND station_number BETWEEN 725300 AND 725330  
    AND snow = TRUE
GROUP BY
    year
ORDER BY
    snowy_stations DESC
LIMIT 1 -- show only the year with most snowfall

Query is running:   0%|          |

Downloading:   0%|          |

   year  snowy_stations
0  2005             826

Add an additional field that indicates the daily change in snow depth measured at every station. And identify the station and day for which the snow depth increased the most.

In [7]:

%%bigquery 

SELECT
    FORMAT_DATE('%Y-%m-%d', DATE(year, month, day)) AS date, 
    station_number,
    snow_depth - LAG(snow_depth) OVER (
      PARTITION BY station_number 
      ORDER BY DATE(year, month, day)
    ) AS snow_diff -- Compute difference between current and previous snow depth
FROM `bigquery-public-data.samples.gsod`
WHERE
    year BETWEEN 2000 AND 2005 AND 
    station_number BETWEEN 725300 AND 725330 
ORDER BY snow_diff DESC -- Highest diff first
LIMIT 1 -- Show only the first row with highest snow change increase

Query is running:   0%|          |

Downloading:   0%|          |

         date  station_number  snow_diff
0  2005-01-22          725300        9.8

Do further checks on the remaining dataset, clean or drop data depending on how you see appropriate.

In [8]:
%%bigquery df
-- Again save the data needed in further tasks
SELECT
    FORMAT_DATE('%Y-%m-%d', DATE(year, month, day)) AS date,
    * EXCEPT (year, month, day)
FROM `bigquery-public-data.samples.gsod`
WHERE
    year BETWEEN 2000 AND 2005 AND
    station_number BETWEEN 725300 AND 725330

Query is running:   0%|          |

Downloading:   0%|          |

In [9]:
import numpy as np


df_copy = df.copy() # Copy dataframe

df_copy['date'] = pd.to_datetime(df_copy['date'])
df_copy = df_copy.sort_values(by=['station_number', 'date']) # Sort by date

In [10]:
# Drop unnecessary columns
df_clean_tmp = df_copy.drop(['wban_number', 'num_mean_temp_samples', 'num_mean_dew_point_samples', 'num_mean_sealevel_pressure_samples', 'num_mean_visibility_samples', 'num_mean_wind_speed_samples'], axis=1) # Drop columns which are unnecessary for snowfall prediction
df_clean_tmp = df_clean_tmp.drop(['mean_sealevel_pressure', 'mean_station_pressure', 'num_mean_station_pressure_samples', 'min_temperature', 'min_temperature_explicit', 'snow_depth', 'max_gust_wind_speed'], axis=1) # Drop columns with too many NaN's
print(df_clean_tmp.isna().sum())

date                          0
station_number                0
mean_temp                     0
mean_dew_point                7
mean_visibility              16
mean_wind_speed               7
max_sustained_wind_speed      8
max_temperature               1
max_temperature_explicit      1
total_precipitation         296
fog                           0
rain                          0
snow                          0
hail                          0
thunder                       0
tornado                       0
dtype: int64

In [11]:
# Fill in NaN values with values from previous dates
df_clean_tmp['mean_dew_point'] = df_clean_tmp.groupby('station_number')['mean_dew_point'].ffill()
df_clean_tmp['mean_visibility'] = df_clean_tmp.groupby('station_number')['mean_visibility'].ffill()
df_clean_tmp['mean_wind_speed'] = df_clean_tmp.groupby('station_number')['mean_wind_speed'].ffill()
df_clean_tmp['max_temperature'] = df_clean_tmp.groupby('station_number')['max_temperature'].ffill()
df_clean_tmp['max_temperature_explicit'] = df_clean_tmp.groupby('station_number')['max_temperature_explicit'].ffill()
print(df_clean_tmp.isna().sum())

date                          0
station_number                0
mean_temp                     0
mean_dew_point                0
mean_visibility               0
mean_wind_speed               0
max_sustained_wind_speed      8
max_temperature               0
max_temperature_explicit      0
total_precipitation         296
fog                           0
rain                          0
snow                          0
hail                          0
thunder                       0
tornado                       0
dtype: int64

In [12]:
# Compute average difference betwee mean wind speed and max sustained wind speed & and fill in NaN
df_wind = df_clean_tmp[['max_sustained_wind_speed', 'mean_wind_speed']].dropna() # Remove NaN from avrage comp.
df_wind_diff = df_wind['max_sustained_wind_speed'] - df_wind['mean_wind_speed']
df_wind_diff = np.array(df_wind_diff.to_list())
average = np.mean(df_wind_diff)
print(f"average {average}")
df_clean_tmp['max_sustained_wind_speed'] = df_clean_tmp['max_sustained_wind_speed'].fillna(df_clean_tmp['mean_wind_speed'] + average) # Fill in NaN by max wind speed + average
print(df_clean_tmp.isna().sum())

average 6.237495956865103
date                          0
station_number                0
mean_temp                     0
mean_dew_point                0
mean_visibility               0
mean_wind_speed               0
max_sustained_wind_speed      0
max_temperature               0
max_temperature_explicit      0
total_precipitation         296
fog                           0
rain                          0
snow                          0
hail                          0
thunder                       0
tornado                       0
dtype: int64

In [13]:
# Fill in NaN with 0.0 for total precipitation if there was no rain, snow and hail on given day
df_clean_tmp['total_precipitation'] = df_clean_tmp.apply(
    lambda row: 0.0 if pd.isna(row['total_precipitation']) and not row['rain'] and not row['snow'] and not row['hail'] else row['total_precipitation'],
    axis=1
)
df_clean_tmp['total_precipitation'] = df_clean_tmp.groupby('station_number')['total_precipitation'].ffill() # Fill the reamining with values from prev. days
print(df_clean_tmp.isna().sum())

date                        0
station_number              0
mean_temp                   0
mean_dew_point              0
mean_visibility             0
mean_wind_speed             0
max_sustained_wind_speed    0
max_temperature             0
max_temperature_explicit    0
total_precipitation         0
fog                         0
rain                        0
snow                        0
hail                        0
thunder                     0
tornado                     0
dtype: int64

In [14]:
df_clean_tmp.dtypes # Check if data types match categories

date                        datetime64[ns]
station_number                       Int64
mean_temp                          float64
mean_dew_point                     float64
mean_visibility                    float64
mean_wind_speed                    float64
max_sustained_wind_speed           float64
max_temperature                    float64
max_temperature_explicit           boolean
total_precipitation                float64
fog                                boolean
rain                               boolean
snow                               boolean
hail                               boolean
thunder                            boolean
tornado                            boolean
dtype: object

In [15]:
df_clean_tmp['day_diff'] = (df_clean_tmp.groupby('station_number')['date'].shift(-1) - df_clean_tmp['date']).dt.days # Compute the difference in days between neighbouring rows
df_clean_tmp['target'] = df_clean_tmp.groupby('station_number')['snow'].shift(-1) # Create new target column containing information about snow from the next day

# Add data from day before 
df_clean_tmp['snow_before'] = df_clean_tmp.groupby('station_number')['snow'].shift(1) 
df_clean_tmp['rain_before'] = df_clean_tmp.groupby('station_number')['rain'].shift(1)
df_clean_tmp['mean_temp_before'] = df_clean_tmp.groupby('station_number')['mean_temp'].shift(1)
df_clean_tmp['total_precipitation_before'] = df_clean_tmp.groupby('station_number')['total_precipitation'].shift(1)
df_clean_tmp['mean_dew_point_before'] = df_clean_tmp.groupby('station_number')['mean_dew_point'].shift(1)
df_clean_tmp['max_temperature_before'] = df_clean_tmp.groupby('station_number')['max_temperature'].shift(1)

df_clean_tmp = df_clean_tmp[df_clean_tmp['day_diff'] == 1] # Remove data where the next day is missing
df_clean_tmp = df_clean_tmp.dropna() # Drop NA values resulting from injecting data from previous/next days

# Convert bool. columns into binary 0 and 1
bool_cols = df_clean_tmp.select_dtypes(include='bool').columns 
df_clean_tmp[bool_cols] = df_clean_tmp[bool_cols].astype(int)


df_clean = df_clean_tmp.copy()
assert not df_clean.isnull().values.any(), "DataFrame contains NaN values"

### 3. Task
Now it is time to split the data, into a training, evaluation and test set. As a reminder, the date we are trying to predict snow fall for should constitute your test set.

In [16]:
import datetime as dt

date_to_predict = str(dt.datetime.today()- dt.timedelta(days=20*365)).split(' ')[0]

# Train set contains data from 2000 until 2004
train_df = df_clean[df_clean['date'] <= '2004-12-31']

# Evaluation set contains data from 2004 until 2005 except for "date_to_predict"
eval_df = df_clean[(df_clean['date'] > '2004-12-31') & (df_clean['date'] != date_to_predict)]

# Test set contains data with the same date as "date_to_predict"
test_df = df_clean[(df_clean['date'] == date_to_predict)]

print(f"Overall length {len(df_clean)}")
print(f"Train set length {len(train_df)}")
print(f"Evaluation set length {len(eval_df)}")
print(f"Test set length {len(test_df)}")

assert len(df_clean) == len(train_df) + len(eval_df) + len(test_df), "The lengths of the train, evaluation, and test sets do not sum to the length of the whole dataset"

Overall length 21795
Train set length 18183
Evaluation set length 3602
Test set length 10

## Part 2
If you made it up to here all by yourself, you can use your prepared dataset to train an algorithm of your choice to forecast whether it will snow on the following date for each station in this dataset:

In [17]:
import datetime as dt

str(dt.datetime.today()- dt.timedelta(days=20*365)).split(' ')[0]

'2005-05-11'

You are allowed to use any library you are comfortable with such as sklearn, tensorflow, keras etc. 
If you did not manage to finish part one feel free to use the data provided in 'coding_challenge.csv' Note that this data does not represent a solution to Part 1.